
/* ------ Global Styles -------- */
body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

/* ------- Logo and intro ------- */


.top-portion svg{
  width: 30%;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.info-wrapper .item img{
  height: 25vw;
}

.info-wrapper{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-top: 3%;
  margin-left: 13.5%;
  margin-right: 13.5%;
  max-height: 25vw;
}

.info-wrapper h2{
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

.info-wrapper p{
  margin-top: 10px;
}

.blurb{
  margin-left: 3%;
  margin-top: -1%;
}
/* ----------- Navigation ---------- */

nav {
  display: flex;
  flex-flow: row wrap;
font-size:.95em;
letter-spacing: .03em;
padding-bottom:5px;
margin-top: 1%;
font-family: 'Montserrat', sans-serif;
}

nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 50%;
  padding: 0;
  margin-left: 25%;
  margin-right: 25%;


}

nav ul a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav ul a:visited{
  color: black;
}

nav ul li{
  margin-left: 6%;
}

#first-nav{
  margin-left: 0%;
}


/* ----------- Portfolio ----------- */
.subhead{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2%;
  margin-top: 5%;
}
.mix-control{
text-align: center;
margin-top: 3%;
margin-bottom: 5%;
}

.mix-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  max-height: 35vw;
  margin-bottom: 20%;
}

#last{
  align-self: flex-start;
}
.mix-container img{
  height: 15vw;
  margin-bottom: 7%;
}

.mixitup-control-active{
  background: black;
  color: white;
  outline: none;
}




/* ------------ Resume -------------- */

button{
  background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}

.resume-button {
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
.resume-wrapper h1{
  text-align: center;
}

.resume-wrapper{
  margin-left: 25%;
}

/* ------------ About ------------- */

.social-media i{
  font-size: 3em;
  margin-left: 12%;
}

.social-media a{
color: black;
}

.social-media a:visited{
  color: black;
}

.social-media{
  width: 24%;
  margin-left: 38%;
  margin-right: 38%;
}

.contact-wrapper{
  margin-left: 25%;
  width: 50%;
}


/* ------------ Footer ------------- */

footer{
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

footer img{
  height: 10vw;
  margin-left: 5%;
}

footer a{
  align-self: center;
  color: black;
}

footer a:visited{
  color: black;
}

/* --------------- Media Queries ------------ */

@media screen and (max-width: 720px) {
  .top-portion svg{
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  .info-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 100vh;
  }
  .info-wrapper .item img{
    width: 100%;
    height: auto;
  }

  .info-wrapper h2{
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
  }

  .info-wrapper p{
    margin-top: 10px;
  }

  .blurb{
    margin-left: 3%;
    margin-top: -1%;
  }

  .mix-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    max-height: none;
    margin-bottom: 20%;
  }

  #last{
    align-self: auto;
  }

  .mix-container img{
    width: 70vw;
    height: auto;
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .resume-button {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
  }

  .resume-wrapper h1{
    text-align: center;
  }

  .resume-wrapper{
    margin-left: 10%;
    margin-bottom: 15%;
  }

  .social-media i{
    font-size: 3em;
    margin-left: 10%;
  }

  .social-media a{
  color: black;
  }

  .social-media a:visited{
    color: black;
  }

  .social-media{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
  }

  .contact-wrapper{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
  }
}
